
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: darkcyan;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 1rem;
      text-align: center;
    }

    main {
      padding: 2rem;
    }

    form {
      align-items: center;
      max-width: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem;
    }

    input[type="text"] {
      flex: 1;
      padding: 0.5rem;
    }

    input[type="submit"] {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
    }

    footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 1rem;
    }
    .logo{
        position: fixed;
        top: 50px;
        left:50px;
    }
    form,nav,#hey{
        float: right;
    }
    #tt
    {
    color: white;
    background-color: green;
    display: block;
    width: 20%;
    }
    .slider {
        width: 500px;
        height: 300px;
        background-color: yellow;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 1500px;
        background-color: pink;
        height: 300px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide-1:target ~ .image-container {
        left: 0px;
      }
      #slide-2:target ~ .image-container {
        left: -500px;
      }
      #slide-3:target ~ .image-container {
        left: -1000px;
      }
      .buttons {
        position: relative;
        top: -20px;
      }
      .buttons a {
        display: inline-block;
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: lightgreen;
      }
      .st{
        float: left;
      }

  